# Can be obtained from Azure Portal > App Registrations > <Your_App_Name> > Overview
VITE_AZURE_CLIENT_ID=dummy
VITE_AZURE_TENANT_ID=dummy

# Can be configured in Azure Portal > App Registrations > <Your_App_Name> > Authentication
# Usually, it's the root URL of your app
VITE_AZURE_REDIRECT_URI=dummy

# Can be configured in Azure Portal > App Registrations > <Your_App_Name> > Expose an API
VITE_AZURE_SCOPES=dummy

VITE_SERVER_BASE_URL=dummy