.createPostContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: cursive;
}

.createPostCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: 70%;
}

.createPostTitle {
  font-family: fantasy;
}

.createPostInput {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.createPostButton {
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: rgb(176, 171, 177);
  color: white;
  cursor: pointer;
}

.createPostButton:hover {
  background-color: rgb(66, 64, 66);
}

#back-button {
  width: fit-content;
  margin: 1rem;
  margin-bottom: -10px;
  color: black;
  font-size: large;
}

#back-button:hover {
  color:white;
  background-color: rgb(176, 171, 177);
}

